<h1>{{file}}</h1>
<a href="?download=1">Download raw</a>
<a href="?package=1">Package</a>
<h1>Download raw:</h1>
Downloads the raw zip, works on curseforge for importing, not recommend
<h1>Package:</h1>
Comes with mods Pre-Downloaded, as well as forge